# introduction to Scikit-Learn(SK learn)

This notebook demonstrates some of the most useful funtions from the scikit library

0. An end-to-end Scikit-learning workflow
1. Getting the data ready
2. Choose the right estimator/algorith for our problems
3. Fit the model/algorithm and use it to make predictions on our data.
4. Evaluating a model.
5. Improve a model.
6. Save and load a trained model.
7. Putting it all together

In [28]:
# Standard imports
import numpy as np
import pandas as pd
import pickle as pl
import matplotlib.pyplot as plt
%matplotlib inline

# 0. An end-to-end scikit-learning workflow

In [3]:
# 1. Get the data ready
heart_disease=pd.read_csv("heart-disease.csv")

In [4]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
#Create X (features matrix)
X = heart_disease.drop("target", axis=1)

#create y(lables)
Y = heart_disease["target"]

In [6]:
#2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

In [8]:
clf.fit(X_train, Y_train);

In [7]:
#make a prediction
Y_label = clf.predict(np.array([0,2,3,4]))

C:\Users\Manishankar04\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [9]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2
135,49,0,0,130,269,0,1,163,0,0.0,2,0,2
245,48,1,0,124,274,0,0,166,0,0.5,1,0,3
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3

In [10]:
Y_train

96     1
212    0
101    1
166    0
50     1
      ..
154    1
135    1
245    0
109    1
270    0
Name: target, Length: 242, dtype: int64

In [11]:
Y_preds = clf.predict(X_test)
Y_preds

array([1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0], dtype=int64)

In [12]:
Y_test

11     1
83     1
4      1
197    0
292    0
      ..
151    1
174    0
268    0
222    0
255    0
Name: target, Length: 61, dtype: int64

In [13]:
# 4. Evaluate the model on the Training data and test data
clf.score(X_train, Y_train)

1.0

In [14]:
clf.score(X_test, Y_test)

0.7540983606557377

In [15]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

print(classification_report(Y_test, Y_preds))

              precision    recall  f1-score   support

           0       0.81      0.68      0.74        31
           1       0.71      0.83      0.77        30

    accuracy                           0.75        61
   macro avg       0.76      0.76      0.75        61
weighted avg       0.76      0.75      0.75        61

In [16]:
confusion_matrix(Y_test, Y_preds)

array([[21, 10],
       [ 5, 25]], dtype=int64)

In [17]:
accuracy_score(Y_test, Y_preds)

0.7540983606557377

In [18]:
# 5. Improve a model
# Try different amount og n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with{i}estimators...")
    clf= RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set:{clf.score(X_test,Y_test) * 100:.2f}%")
    print("")

Trying model with10estimators...
Model accuracy on test set:75.41%

Trying model with20estimators...
Model accuracy on test set:78.69%

Trying model with30estimators...
Model accuracy on test set:75.41%

Trying model with40estimators...
Model accuracy on test set:73.77%

Trying model with50estimators...
Model accuracy on test set:75.41%

Trying model with60estimators...
Model accuracy on test set:75.41%

Trying model with70estimators...
Model accuracy on test set:77.05%

Trying model with80estimators...
Model accuracy on test set:75.41%

Trying model with90estimators...
Model accuracy on test set:73.77%

In [29]:
# 6. Save a model and load it
pl.dump(clf, open("random_forest_model_1.pkl","wb"))

In [30]:
loaded_model = pl.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, Y_test)

0.7377049180327869

## 1. Getting our data ready to be used with machine learning

Three main things we have to do:
    
    1. Split the data into features and labels (usually `X` & `Y`)
    2. Filling(also called imputing) or disregarding missing values
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [32]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [33]:
X = heart_disease.drop("target", axis=1)

In [34]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [35]:
Y = heart_disease["target"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [36]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [37]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((242, 13), (61, 13), (242,), (61,))