# Introduction to Scikit-Learn(sklearn)

This notebook demonstrates some of the most useful functions of tht beautiful Scikit-Learn Library.

What we're going to cover:

0. An end-to-end Scikit-Learn Workflow
1. Getting Data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/Algorithm and use it to make predictions on our data
4. Evaluating the model
5. Improve the model
6. Save and load a trained model
7. Putting it all together!

## 0. An end-to-end Scikit-Learn Workflow

In [1]:
import numpy as np

In [2]:
#1. get the data ready
import pandas as pd
heart_disease= pd.read_csv("../heart-disease.csv")

In [3]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# Create X (features matrix)
X= heart_disease.drop("target",axis=1)
# Create Y( labels)
y=heart_disease["target"]

In [5]:
#2. Choose the right model and hyparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparamters
clf.get_params();

In [6]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [7]:
clf.fit(X_train, y_train);

In [8]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3

In [9]:
y_preds = clf.predict(X_test)

In [10]:
y_preds

array([0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0], dtype=int64)

In [11]:
y_test

285    0
194    0
256    0
19     1
220    0
      ..
83     1
74     1
185    0
10     1
223    0
Name: target, Length: 61, dtype: int64

In [12]:
#4. Evaluate the model on training data and test data
clf.score(X_train,y_train)

1.0

In [13]:
clf.score(X_test,y_test)

0.7868852459016393

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.93      0.72      0.81        39
           1       0.65      0.91      0.75        22

    accuracy                           0.79        61
   macro avg       0.79      0.81      0.78        61
weighted avg       0.83      0.79      0.79        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[28, 11],
       [ 2, 20]], dtype=int64)

In [16]:
accuracy_score(y_test, y_preds)

0.7868852459016393

In [17]:
#5. Improve a model
#Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model Accuracy in test set:{clf.score(X_test,y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model Accuracy in test set:75.41%

Trying model with 20 estimators...
Model Accuracy in test set:77.05%

Trying model with 30 estimators...
Model Accuracy in test set:75.41%

Trying model with 40 estimators...
Model Accuracy in test set:77.05%

Trying model with 50 estimators...
Model Accuracy in test set:81.97%

Trying model with 60 estimators...
Model Accuracy in test set:77.05%

Trying model with 70 estimators...
Model Accuracy in test set:78.69%

Trying model with 80 estimators...
Model Accuracy in test set:77.05%

Trying model with 90 estimators...
Model Accuracy in test set:78.69%

In [18]:
#6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl","wb"))

In [19]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.7868852459016393